@media screen and (max-width: 767px) {
    .button-scroll.active{
        transform: none;
        background-color: var(--secondary-color);
    }
    body.overflow{
        overflow-y:hidden;
    }
    /* MENU */
    .nav-list{
        position: absolute;
        z-index: -1;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: var(--black-transparent);
        transition: top var(--transition-duration) var(--transition-function);
    }
    .nav-list.display{
        top: calc(6rem + 1px);
    }
    .nav-item{
        width: 100%;
        border-bottom: solid gray 1px;
    }
    .nav-link{
        display: block;
        color: #fff;
        font-size: 2rem;
        padding: 2rem 0;
    }

    /* MES SERVICES - MODAL */
        .contModalServices{
        top: 8vh;
        left: 0;
        display: grid;
        justify-self: center;
        height: 92vh;
    }

    .modalServices{
        justify-self: center;
        align-content: space-around;
        width: 87vw;
        height: 75.5vh;
    }
    .backModalImage{
        align-items: flex-end;
        justify-content: center;
        width: 87vw;
        height: 75.5vh;
    }
    .backModalImage img{
        width: 92%;
        margin-bottom: 1.5rem;
    }
    .titleModal{
        width: 60vw;
        text-align: center;
        margin: -10rem 0 0 0;
    }
    .textModal{
        width: 33rem;
        height: 16rem;
        font-weight: normal;
    }
    .close i{
        font-size: 5vw;
        margin-right: 2rem;
    }
}