:root {
    font-size: 12px;
    --primary-color: #fb9179;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/* HEADER */

.header {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #fff;
}


/* HEADER -> LOGO */

.logo {
    display: flex;
    align-items: center;
    max-width: 50%;
}
.logo-img {
    height: 100%;
}
.logo-ttl {
    font-size: 2rem;
    color: var(--primary-color);
    margin-left: 1rem;
}


/* HEADER -> NAV */

.nav {

}

.nav-burger {
    font-size: 3rem;
    color: var(--primary-color);
}

.nav-list {
    display: none;
}

.nav-item {

}

.nav-link {

}


/* HEADER -> SOCIAL */

.social {
    display: none;

}

.social-list {

}

.social-item {

}

.social-link {

}

/* HERO BANNER */

.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-bg-xl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.hero-banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-logo {
    max-width: 100%;
}

.hero-ttl {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    text-transform: uppercase;
}

.button-scroll {

}