@import url(font-awesome.min.css);

:root {
    /* Sizes */
    font-size: 12px;
    --container-width: 1350px;

    /* Colors */
    --primary-color: #fb9179;
    --secondary-color: #bdbf09;
    --main-bg: #151617;
    --black-color: rgb(0,0,0);
    --dark-grey: #313335;
    --dark-grey-transparent: rgba(49, 51, 53, 0.7);
    --light-grey: #7a8085;

    /* NavLIst */
    --black-transparent: rgba(0, 0, 0, 0.75);

    /* Services */

    /* Special colors */
    --transparent-white: rgba(255, 255, 255, 0.5);

    /* Social colors */
    --facebook-color: #3b5998;
    --twitter-color: #55acee;
    --instagram-color: #ac2bac;

    /* Transistion */
    --transition-duration: .5s;
    --transition-function: ease;
}


/* NORMALIZER */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* UTILITIES */

body.template-dark {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: var(--main-bg);
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
}

.section {
    margin-bottom: 7rem;
}


/* HEADER */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid var(--transparent-white);
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}


/* HEADER -> LOGO */

.logo {
    display: flex;
    align-items: center;
    max-width: 50%;
}
.logo-img {
    width: 4rem;
}
.logo-ttl {
    font-size: 2rem;
    color: var(--primary-color);
    margin-left: 1rem;
}

/* HEADER -> NAV */

.nav-burger {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav-link.active {
    color: var(--transparent-white);
}
.nav-link{
    color: #fff;
    font-size: 1.5rem;
}


@media screen and (min-width: 768px) {
    .nav-list {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .nav-burger {
        display: none;
    }
    .nav-list {
        display: flex;
    }

    .nav-link {
        display: inline-block;
        position: relative;
        transition: border var(--transition-duration) var(--transition-function);
    }

    .nav-link::after {
        content: "";
        display: block;
        height: .25rem;
        width: 0;
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: var(--primary-color);
        transition: width .3s ease;
    }

    .nav-link.active::after, .nav-link:hover::after  {
        width: 100%;
    }

}

/* HERO BANNER */

.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-bg-sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.hero-banner-content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hero-logo {
    width: 40%;
    max-width: 500px;
    position: relative;
    top: min(7vw, 6rem);
}

.hero-ttl {
    font-weight: 900;
    font-size: min(7vw, 6rem);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index:2;
}
.hero-ttl > p {
    line-height: min(7vw, 6rem);
}

.button-scroll {
    display: block;
    background-color: var(--secondary-color);
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    position: absolute;
    bottom: 2rem;
    transition: background var(--transition-duration), transform var(--transition-duration);
    transition-timing-function: var(--transition-function);
}

.button-scroll:hover {
    transform: scale(1.5);
    background-color: var(--primary-color);
}

/* TITLES */

.title {
    text-align: center;
    width: 100%;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 7rem;
}
.title-top {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.title-main {
    font-size: 3rem;
}


/* ABOUT SECTION */

.about {
    margin-bottom: 2rem;
}
.about-text {
    padding: 2rem;
}

.about-text-xl {
    font-size: 3rem;
    font-weight: bold;
}
.about-text-highlight {
    display: block;
    color: var(--secondary-color);
    text-decoration: underline;
}
.about-ttl-sm, .about-txt-sm {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2;
}
.about-txt-sm {
    color: var(--light-grey);
}

@media screen and (min-width: 768px) {
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-text {
        padding: 5rem;
    }
}



/* SERVICES */

.cards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 0 2rem;
}

@media screen and (min-width: 768px) {
    .cards-list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        padding: 0;
    }
}

.card {
    padding: 2rem;
    background-color: var(--dark-grey);
    aspect-ratio: 2 / 3;
    position: relative;
    transition: background var(--transition-duration) var(--transition-function);
}

.card-ttl {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.2;
    word-break: break-word;
    transition: color var(--transition-duration) var(--transition-function);
}

.card-icon {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 4rem;
}


.card:hover {
    background-color: #000;
}
.card:hover .card-ttl {
    color: var(--secondary-color);
}

/* PORTFOLIO */

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.portfolio-grid > li {
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
}

@media screen and (min-width: 520px) and  (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 19vw;
    }
    .portfolio-grid > li:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .portfolio-grid > li:nth-child(5) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}


@media screen and (min-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: min(15vw, 18em);
    }
    .portfolio-grid > li:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .portfolio-grid > li:nth-child(4) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}

.portfolio-grid > li {
    position: relative;
    font-size: 0;
}

.portfolio-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    opacity: 1;
}

.portfolio-brand {
    display: block;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    background-color: var(--dark-grey-transparent);
}

@media screen and (min-width: 520px) {
    .portfolio-block {
        align-items: center;
        opacity: 0;
        transition: opacity var(--transition-duration) var(--transition-function);
    }
    .portfolio-block:hover {
        opacity: 1;
    }
    .portfolio-brand {
        font-size: 2rem;
        color: #fff;
    }
}


/* CONTACT FORM */

.contact-form {
    padding: 0 2rem;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-item {
    display: flex;
    flex-direction: column;
}

.contact-label {
    color: var(--light-grey);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-label.required::after {
    content: "*";
}

.contact-text {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--dark-grey);
    transition: background var(--transition-duration), color var(--transition-duration);
    transition-timing-function: var(--transition-function);
    color: #fff;
}
.contact-text:focus  {
    background-color: var(--light-grey);
    color: #000;
}

.contact-consent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.contact-consent .contact-label {
    font-size: 1rem;
}

.contact-checkbox {
    margin-right: 2rem;
}

.button {
    padding: 1rem 2rem;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--secondary-color);
    transition: background var(--transition-duration) var(--transition-function);
    border-radius: .5rem;
}   

.button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .contact-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }

    .contact-message {
        grid-column: 2;
        grid-row: 1 / span 3;
    }

    .contact-submit {
        display: block;
        text-align: right;
    }
}


/* FOOTER */

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    border-top: 1px solid var(--transparent-white);
    background-image: url('../img/hero-bg-sm.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 1rem 2rem;
    }
    .hero-banner, .footer {
        background-image: url('../img/hero-bg-xl.jpg');
    }
}

/* FOOTER - LEGAL */

.footer-legal > li {
    display: inline;
}
.footer-legal > li:not(:last-child)::after {
    content: "|";
    padding: 0 1rem;
}

.footer-legal-link {
    color: #fff;
}

.footer-legal-link:hover {
    text-decoration: underline;
}


/* FOOTER - SOCIAL */

.social {
    width: 100%;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 4rem;
    font-size: 2rem;
    color: #fff;
}

.bg-facebook {
    background-color: var(--facebook-color);
}

.bg-twitter {
    background-color: var(--twitter-color);
}

.bg-instagram {
    background-color: var(--instagram-color);
}

@media screen and (min-width: 768px) {
    .social {
        width: auto;
        order: 3;
    }

    .social-link {
        background-color: rgba(0, 0, 0, 0);
        transition: background var(--transition-duration) var(--transition-function);
    }

    .bg-facebook:hover {
        background-color: var(--facebook-color);
    }

    .bg-twitter:hover {
        background-color: var(--twitter-color);
    }

    .bg-instagram:hover {
        background-color: var(--instagram-color);
    }
}

/* MES SERVICES */

.contModalServices{
    position: absolute;
    z-index: 80;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 71vw;
    height: 465px;
}
.modalServices{
    display: flex;
    flex-direction: column;
    align-self: center;
    background: var(--black-color);
    font-family: "Franklin Gothic Heavy";
    justify-content: center;
    padding: 0.5%;
    font-size: 175%;
    width: 95%;
    height: 400px;
}
.backModalImage{
    position: absolute;
    z-index: 79;
    opacity: 0.2;
}
.backModalImage img{
    display: flex;
    flex-direction: row;
    left: 0;
    width: 70%;
    height: auto;
}
.titleModal{
    display: flex;
    align-self: center;
    font-weight: bold;
    color: var(--secondary-color);
    padding: 1% 0 5.5% 0;
    justify-self: flex-start;
    font-size: 115%;
}
.textModal{
    display: flex;
    align-self: center;
    padding: 1.5rem 0 6.5rem 0;
    justify-self: flex-end;
    text-align: center;
    width: 76%;
}
.close{
    color: white;
    margin: -8vh 0.5vh 0 0;
    text-align: right;
}
.close i{
    right: 0;
    width: 20px;
    height: auto;
}
/* MENU */

@media screen and (max-width: 767px) {

    body.overflow{
        overflow-y:hidden;
    }
    .nav-list{
        position: absolute;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: var(--black-transparent);
        transition: top var(--transition-duration) var(--transition-function);
    }
    .nav-list.display{
        top: calc(6rem + 1px);
    }
    .nav-item{
        width: 100%;
        border-bottom: solid gray 1px;
    }
    .nav-link{
        display: block;
        color: #fff;
        font-size: 2rem;
        padding: 2rem 0;
    }

    /* MODAL */
    .contModalServices{
        width: 92vw;
        height: 820px;
        font-size: 1.5rem;
    }
    
    .modalServices{
        height: 745px;
        justify-content: space-between;
    }
    .backModalImage{
        left: 10vw;
        bottom: 10vh;
    }
    .backModalImage img{
        width: 90%;
    }
    .titleModal{
        width: 65%;
        margin-bottom: 29vh;
        text-align: center;
        /* font-weight: bold; */
    }
    .textModal{
        margin-bottom: 40vh;
    }

    .close{
        margin: 1vh 2vh 0 0;
    }
}