:root {
    font-size: 12px;
    --primary-color: #fb9179;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

ul {
    margin: 0;
    list-style: none;
}

/* HERO BANNER */

.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-bg-xl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}


/* HEADER */

.header {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 1rem;
}


/* HEADER -> LOGO */

.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 100%;
}
.logo-ttl {
    font-size: 2rem;
    color: var(--primary-color);
    margin-left: 1rem;
}