:root {
    font-size: 12px;
    --primary-color: #fb9179;
    --secondary-color: #bdbf09;
    --bg-color: #151617;
    --bg-card: #313335;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}


/* UTILITIES */

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.section {
    margin-bottom: 5rem;
}

/* HEADER */

.header {
    width: 100%;
    border-bottom: 1px solid #fff;
}

.header-container {
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 1rem;
}


/* HEADER -> LOGO */

.logo {
    display: flex;
    align-items: center;
    max-width: 50%;
}
.logo-img {
    height: 100%;
}
.logo-ttl {
    font-size: 2rem;
    color: var(--primary-color);
    margin-left: 1rem;
}


/* HEADER -> NAV */

.nav {

}

.nav-burger {
    font-size: 3rem;
    color: var(--primary-color);
}

.nav-list {
    display: none;
}

.nav-item {

}

.nav-link {

}


/* HEADER -> SOCIAL */

.social {
    display: none;

}

.social-list {

}

.social-item {

}

.social-link {

}

/* HERO BANNER */

.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-bg-xl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.hero-banner-content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hero-logo {
    width: 40%;
    max-width: 500px;
    position: relative;
    top: min(7vw, 6rem);
}

.hero-ttl {
    font-weight: 900;
    font-size: min(7vw, 6rem);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index:2;
}
.hero-ttl > p {
    line-height: min(7vw, 6rem);
}

.button-scroll {
    display: block;
    background-color: var(--secondary-color);
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    position: absolute;
    bottom: 2rem;
}

/* TITLES */

.title {
    text-align: center;
    width: 100%;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 5rem;
}
.title-top {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #bdbf09;
}
.title-main {
    font-size: 3rem;
}


/* ABOUT SECTION */

.about {
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.about-text {
    padding: 2rem;
}

.about-text-xl {
    font-size: 3rem;
    font-weight: bold;  
}
.about-text-highlight {
    display: block;
    color: #bdbf09;
    text-decoration: underline;
}
.about-ttl-sm, .about-txt-sm {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2;
}
.about-txt-sm {
    color: #5e6266;
}


/* SERVICES */

.cards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 0 2rem;
}

@media (min-width: 768px) {
    .cards-list {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        padding: 0;
    }
}

.card {
    padding: 2rem;
    background-color: #313335; /* replace with root val */
    aspect-ratio: 2 / 3;
    position: relative;
}

.card-ttl {
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.2;

}

.card-icon {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: 4rem;
}


/* PORTFOLIO */

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.portfolio-grid > li {
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
}

@media (min-width: 540px) and  (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 20vw;
    }
    .portfolio-grid > li:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .portfolio-grid > li:nth-child(5) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}


@media (min-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .portfolio-grid > li:nth-child(1) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
    .portfolio-grid > li:nth-child(4) {
        grid-column-start: span 2;
        grid-row-start: span 2;
    }
}