:root {
    font-size: 12px;
    --primary-color: #fb9179;
    --secondary-color: #bdbf09;
    --main-bg-color: #151617;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: --main-bg-color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

/* HEADER */

.header {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #fff;
}


/* HEADER -> LOGO */

.logo {
    display: flex;
    align-items: center;
    max-width: 50%;
}
.logo-img {
    height: 100%;
}
.logo-ttl {
    font-size: 2rem;
    color: var(--primary-color);
    margin-left: 1rem;
}


/* HEADER -> NAV */

.nav {

}

.nav-burger {
    font-size: 3rem;
    color: var(--primary-color);
}

.nav-list {
    display: none;
}

.nav-item {

}

.nav-link {

}


/* HEADER -> SOCIAL */

.social {
    display: none;

}

.social-list {

}

.social-item {

}

.social-link {

}

/* HERO BANNER */

.hero-banner {
    width: 100%;
    height: 100vh;
    background-image: url('../img/hero-bg-xl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

.hero-banner-content {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.hero-logo {
    width: 40%;
    max-width: 500px;
    position: relative;
    top: min(7vw, 6rem);
}

.hero-ttl {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    font-size: min(7vw, 6rem);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index:2;
}
.hero-ttl > p {
    line-height: min(7vw, 6rem);
}

.button-scroll {
    display: block;
    background-color: var(--secondary-color);
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    position: absolute;
    bottom: 2rem;
}